.header-title-container{
    margin:0 auto;
}
.header-title{
    color: white;
}
div{
    color: black;
}
.form-text{
    margin: 25%;
    padding: 2rem 1rem;
    border: 1px solid grey;
}
h3{
    text-align: center;
    color: black;
}